<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.android.yukawaservice"
          android:persistent="true"
          android:sharedUserId="android.uid.system">

    <application
            android:allowBackup="true"
            android:label="ATV Customization">
        <receiver android:exported="true"
            android:name=".RemoteSyncReceiver">
            <intent-filter>
                <action android:name="android.intent.action.GLOBAL_BUTTON"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
